{% load staticfiles %}
<html lang="es">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sitio Web para el informe SST Valoriza PR">
    <meta name="Author" content="Giovanny Escobar Uribe">
    <title>Informe Semanal SST - Valoriza Propiedad Raíz</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css">
  </head>
  <body>
    <div class="page-header fixed-top">
      {% if request.user.is_authenticated %}
        <p class="top-menu">
          {{ user.first_name }}
          {{ user.last_name }}
          <a href="{% url 'logout' %}">Salir</a>
        </p>
        <h1><a href="/informes">Informe Semanal SST</a></h1>
      {% else %}
        <h1><a href="/">Informe Semanal SST</a></h1>
      {% endif %}
    </div>

    <div class="content container">
      {% block content %}
      {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/validacion_archivos.js' %}"></script>
  </body>
</html>