{% extends 'semanal/base.html' %}
{% load semanal_extras %}

{% block content %}
  {% if request.user|has_group:"Sisos" %}
    <div>
      <a class="icono" href="{% url 'nuevo_informe' %}" title="Nuevo Informe">
        <span class="fas fa-plus"></span>
      </a>
    </div>
  {% endif %}

  <h1 class="informe titulo">Informes Realizados</h1>

  {% for informe in informes %}
    <div class="informe">
      <h1>
        <a href="{% url 'detalle_informe' pk=informe.pk %}">{{ informe.empresa }}</a>
      </h1>

      <p>
        <strong>Responsable:</strong>
        {{ informe.usuario.first_name }} {{ informe.usuario.last_name }}
      </p>

      <div class="lineaTexto">
        <p><strong>Ciclo semanal:</strong> Desde {{ informe.desde }} - hasta {{ informe.hasta }}</p>
        <p><strong>Fecha de Elaboración:</strong> {{ informe.fecha_elaboracion }}</p>
      </div>
    </div>
  {% endfor %}
{% endblock %}