{% extends 'semanal/base.html' %}

{% block content %}
  <h1 class="informe">Nuevo Informe</h1>
  
  <form method="POST" enctype="multipart/form-data" id="formInforme">
    {% csrf_token %}

    {% for field in form %}
      <div class="control-group">
        <div class="form-group">
          <label for="{{ field.name }}"><strong>{{ field.label }}</strong></label>
          {{ field }}
          <p class="help-block text-danger"></p>
        </div>

        {% for error in field.errors %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      </div>
    {% endfor %}

    <div id="error"></div>

    <button type="submit" class="btn btn-danger btn-lg" title="Enviar Informe">Enviar Informe</button>
  </form>
{% endblock %}